<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Sign-up Form</title>
  </head>
  <body>
    <%- include('./partials/_header.ejs', {title: 'Sign-up'}) %>
    <div class="container">
      <div class="form-signup">
        <form>
          <h2>Sign-up</h2>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" />
          <div class="name error"></div>

          <label for="email">Email:</label>
          <input type="text" id="email" name="email" />
          <div class="email error"></div>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
          <div class="password error"></div>

          <button type="submit" style="cursor: pointer">Create</button>
        </form>
      </div>
    </div>

    <%- include('./partials/_footer.ejs') %>
    <script>
      var form = document.querySelector("form");
      form.addEventListener("submit", async function (e) {
        e.preventDefault();
        const email = form.email.value;
        const name = form.name.value;
        const password = form.password.value;

        //check valid

        //sending data with fetch api
        try {
          const res = await fetch("/signup", {
            method: "POST",
            body: JSON.stringify({
              name: name,
              email: email,
              password: password,
            }),
            headers: { "Content-Type": "application/json" },
          });

          const data = await res.json();

          //set if false
          form.querySelector(".name.error").textContent = "";
          form.querySelector(".email.error").textContent = "";
          form.querySelector(".password.error").textContent = "";
          if (data.status === 400) {
            for (const [key, value] of Object.entries(data.message)) {
              form.querySelector("." + key + ".error").textContent = value;
            }
          }

          //redirect to another page if login/create success
          if (data.data.id !== undefined && data.data.name !== undefined) {
            location.assign("/home");
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
